<div class="page-header">
    <h3>
        Appliances <i class="fa fa-angle-right"></i> New
    </h3>
</div>
{{#appliances/appliance-new cancel='cancel' submit='submit'}}
{{/appliances/appliance-new}}