    {{#each appliances.items as |item|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{item.model}}
        </div>
        <div class="panel-body">
            <p>{{item.description}}</p>
            {{#each item.files as |file|}}
                <img src="{{file.dataURL}}" height="100">
            {{/each}}
        </div>
    </div>
    {{/each}}