    {{#each appliances.items as |item|}}
    <div class="panel panel-info">
        <div class="panel-heading">
            {{item.model}}
        </div>
        <div class="panel-body">
            <p>{{item.description}}</p>
        </div>
    </div>
    {{/each}}