    {{#each appliances.items as |item|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>{{item.model}}</h5>
        </div>
        <div class="panel-body">
            <p>{{item.description}}</p>
            <br/>
            <div class="row">
                {{#each item.files as |file|}}
                <div class="col-xs-6 col-md-2">
                    <a href="javascript::void(0)" class="thumbnail">
                        <img src="{{file.dataURL}}" width="100%">
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{else}}
    <h4>{{#link-to 'appliances.new' tagName="a" class="text-info"}}I wanna be the first one to list an appliance.{{/link-to}}</h4>
    {{/each}}
