<div class="page-header">
    <h3>
        Appliances&nbsp;<small>{{#link-to 'appliances.new' tagName="a"}}Add New{{/link-to}}</small>
    </h3>
</div>

{{outlet}}

{{#appliances/appliances-list}}
{{/appliances/appliances-list}}