<div class="page-header">
    <h3>
        Appliances&nbsp;<small class="pull-right">{{#link-to 'appliances.new' tagName="a" class="btn btn-warning btn-sm"}}{{fa-icon "plus-circle"}}&nbsp;List New Appliance{{/link-to}}</small>
    </h3>
</div>

{{outlet}}