<footer>
    <br/>
    <hr/>
    <div>Credits to:</div> 
    <div>For the Upload-Control Component: <a href="http://www.timm.io/2015/02/23/file-input-component-for-emberjs.html">http://www.timm.io/2015/02/23/file-input-component-for-emberjs.html</a></div>
    <br/>
    <div>Code on GitHub @ <a href="https://github.com/vivekmunde/EmberJSChallenge">https://github.com/vivekmunde/EmberJSChallenge</a></div>
    <br/>
</footer>