<div class="jumbotron text-center">
    <h2 class="text-warning">Welcome To 'Home Appliances List'</h2>

    <br/><br/>

    {{#link-to 'appliances' tagName="a" class="btn btn-warning btn-lg"}}{{fa-icon "list-ul"}}&nbsp;&nbsp;&nbsp;Show Me The Listed Applicanes{{/link-to}}

    <br/><br/>
</div>