<div class="jumbotron text-center">
    <h1>The Home Appliances List</h1>

    <br/><br/>

    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-12 col-md-6">
          
        </div>
        <div class="col-xs-12 col-md-6">
            
        </div>

    </div>

    <br/><br/>
</div>