<nav class="navbar navbar-default" style="border-radius: 0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Ember JS Challenge{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav pull-right">
            {{#link-to 'index' tagName="li"}}<a href="">{{fa-icon "home"}} Home</a>{{/link-to}}
            {{#link-to 'appliances' tagName="li"}}<a href="">{{fa-icon "list-ul"}} Applicanes</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>